= render_attrs(entry, 
        :old_id,
        :rdp_association,
        :rdp_association_region,
        :rdp_association_sub_region,
        :rdp_association_group,
        :rdp_association_number,
        :role,
        :tour)