#main.row-fluid
- title t('activerecord.header.sepa_header')
- if can?(:edit, @person)
  = standard_form(@person, {url: '/groups/' + params[:group_id] + '/people/'+ params[:id] + '/payment',  method: :put}) do |f|
    = f.error_messages
    = f.labeled_input_fields(:sepa_name,
      :sepa_address,
      :sepa_zip_code,
      :sepa_town,
      :sepa_iban)
    = form_buttons(f, submit_label: t('activerecord.button.save'), cancel_url: person_path(@person))

