#main.row-fluid
- if can?(:show, @person)
    = render_attrs(@person, 
                :sepa_name,
                :sepa_address,
                :sepa_zip_code,
                :sepa_town,
                :sepa_iban)  

- if can?(:edit, @person) and not @person.registration_locked
    = action_button(t('activerecord.button.edit'),
                    '/groups/' + params[:group_id] + '/people/'+ params[:id] + '/payment/edit',
                    :edit,
                    remote: false,
                    method: :get,
                    rel: :tooltip,
                    title: t('activerecord.button.edit_hint'))