-#  Copyright (c) 2012-2013, Jungwacht Blauring Schweiz. This file is part of
-#  hitobito and licensed under the Affero General Public License version 3
-#  or later. See the COPYING file at the top-level directory or at
-#  https://github.com/hitobito/hitobito.

%p Hallo #{@resource.to_s}!

- if @resource.encrypted_password.present?
  %p Du kannst dein Passwort für die Anmeldung zum European Jamboree 2020+1 mit folgendem Link neu setzen:
- else
  %p Willkommen bei der Anmeldung zum European Jamboree 2020+1!
  %p Du bist neu registriert und hast ein Login erhalten.
  %p Bitte setze dein Passwort unter dem folgenden Link:

%p= link_to edit_password_url(@resource, reset_password_token: @token),
            edit_password_url(@resource, reset_password_token: @token)

- if @resource.encrypted_password.present?
  %p Wenn du dein Passwort nicht ändern willst, kannst du dieses E-Mail ignorieren.

  %p Dein Passwort ändert sich nicht ohne dass du auf dem obigen Link gehst und dort ein neues Passwort vergibst.
- else 
  %p Um deine Anmeldung zum European Jamboree komplett abzuschließen musst du
  %p 1. Unter Info auf "Bearbeiten" klicken und alle Felder ausfüllen
  %p 2. Unter Zahlungsdetails deine Kontoverbindung eintragen 
  %p 3. Bei Anmeldung Drucken mittels "Vorschau anzeigen" deine Daten überprüfen
  %p 4. Mit "Verbindlich drucken" die Anmeldung zur bearbeitung sperren und das PDF ausdrucken
  %p 5. Die ausgedruckte Anmeldung unterschreiben (Teilnahmevertrag, Datenschutzerklärung und SEPA) und an das Bundesamt senden
